.artist__modal {
    /* background-color: red; */
}

.artist__modal .MuiDialogContent-root {
    /* width: 65vw;
    height: 60vh; */
    position: relative;
}

.button.MuiButtonBase-root.MuiButton-root.MuiButton-text.exit__Btn {
    position: absolute;
    left: 10px;
    top: 0;
    border-radius: 50px;
    background: transparent;
    border: 1px solid inherit;
    outline: none;
  }